$width768: calc((100vw / 5) - 1rem);
$width1024: calc((100vw / 7) - 1rem);

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  height: 100%;
  margin-bottom: 3rem;
}

.container_chapter {
  cursor: pointer;
  margin: 0.2rem 0.5rem;

  @media (min-width: 768px) {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: repeat(autofill, 180px);
  }
}

.scan {
  @media (min-width: 768px) {
    display: none;
  }
}

.chapter {
  align-items: center;
  border-radius: 15px;
  box-sizing: border-box;
  display: grid;
  font-size: 0.75rem;
  grid-template-columns: 1fr 120px;
  height: 40px;
  padding: 0 0.4rem;
  overflow: hidden;
  position: relative;

  img {
    left: 0;
    min-width: 100%;
    max-width: 100%;
    opacity: 0.4;
    position: absolute;
    rotate: -90deg;
    z-index: -1;
  }

  p {
    color: #fff;
    margin: 0;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
      rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
      rgb(0, 0, 0) -0.832294px 1.81859px 0px,
      rgb(0, 0, 0) -1.60229px 1.19694px 0px,
      rgb(0, 0, 0) -1.97998px 0.28224px 0px,
      rgb(0, 0, 0) -1.87291px -0.701566px 0px,
      rgb(0, 0, 0) -1.30729px -1.5136px 0px,
      rgb(0, 0, 0) -0.421592px -1.95506px 0px,
      rgb(0, 0, 0) 0.567324px -1.91785px 0px,
      rgb(0, 0, 0) 1.41734px -1.41108px 0px,
      rgb(0, 0, 0) 1.92034px -0.558831px 0px;
  }

  @media (min-width: 768px) {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    height: 100%;
    padding: 0;
    width: 130px;

    img {
      border: 1px solid #fff;
      box-sizing: border-box;
      height: 160px;
      position: relative;
      rotate: none;
    }

    p {
      text-align: center;
    }
  }
}

.mangaName {
  color: #fca311 !important;
  font-size: 0.85rem;
}

.chapter_info {
  display: flex;
  flex-direction: column;
}

.check {
  color: rgba(255, 255, 255, 0.6);
  margin: 0.8rem 0 0.5rem;

  @media (min-width: 768px) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.1rem;
    margin: 0.8rem 0.5rem 0.5rem;
  }
}

.loading,
.err,
.noresult {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  justify-content: center;
}

.err {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
}

.noresult {
  font-size: 1.5rem;

  p {
    margin: 0;
    text-align: center;
  }
}
