$width: calc((100vw - 1.5rem - 1px) / 3);

.container {
  display: grid;
  grid-template-columns: repeat(3, $width);
  grid-template-rows: repeat(auto-fill, 180px);
  font-family: "Roboto Condensed", sans-serif;
  gap: 0.25rem;
  margin: 0.5rem 0.5rem;
  position: relative;
}

.chapter_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  position: relative;

  img {
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 180px;
    width: 100%;
  }

  &:nth-child(3n + 1) {
    justify-self: flex-start;
  }

  &:nth-child(3n + 3) {
    justify-self: flex-end;
  }
}

.name {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: flex;
  height: 25px;
  justify-content: center;
  position: absolute;
  width: 100%;

  p {
    color: #fff;
    font-size: 0.8rem;
    margin: 0.2rem 0 0;
  }
}

.loading,
.err,
.noresult {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
  justify-content: center;
}

.err {
  font-size: 1.6rem;
}

.noresult {
  font-size: 1.5rem;

  p {
    margin: 0;
    text-align: center;
  }
}
