.container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  width: 100vw;
  z-index: 100;
}

.container_intern {
  align-items: center;
  background-color: #1b263b;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 22px 70px 4px;
  box-sizing: border-box;
  color: #fff;
  display: grid;
  font-family: "Roboto Condensed", sans-serif;
  grid-template-rows: 220px 50px 20px 45px 50px 45px;
  height: 430px;
  justify-content: center;
  position: relative;
  width: 350px;

  img {
    justify-self: center;
    object-fit: cover;
    height: 220px;
    width: 350px;
  }

  p,
  h1 {
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  h1 {
    color: #fca311;
    font-size: 1.2rem;
  }

  @media (min-width: 1024px) {
    grid-template-areas: "img title" "img author" "img genres" "img ch" "img follow";
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 100px 25px 25px 200px 50px;
    height: 400px;
    width: 600px;

    img {
      height: 100%;
      grid-area: img;
      width: 250px;
    }

    h1 {
      grid-area: title;
    }
  }
}

.author,
.genres {
  align-self: flex-start;
  margin-left: 0.5rem !important;
  text-align: start !important;

  span {
    font-size: 0.8rem;

    &:first-child {
      font-size: 0.9 rem;
      font-weight: 700;
    }
  }
}

.author {
  @media (min-width: 1024px) {
    grid-area: author;
  }
}

.genres {
  @media (min-width: 1024px) {
    grid-area: genres;
  }
}

.close {
  align-items: center;
  background-color: #fff;
  color: #fca311;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 25px;
  justify-content: center;
  margin-top: 0.5rem;
  position: absolute;
  right: 2px;
  top: -5px;
  width: 25px;

  &:hover {
    background-color: #000;
    color: #f3cf95;
  }
}

.followingB {
  background-color: #d91414;

  @media (min-width: 1024px) {
    grid-area: follow;
  }
}

.sources {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 130px);
  justify-content: center;
  justify-self: flex-start;
  margin-left: 0.5rem;
  width: calc(100% - 0.5rem);

  @media (min-width: 1024px) {
    grid-area: ch;
  }
}

.source_item {
  align-items: center;
  background-color: #1d44a8;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 35px;
  justify-content: center;
  width: 120px;
}

.last_chapter {
  font-size: 0.8rem !important;
}

.source {
  font-size: 0.6rem !important;
}

.following {
  background-color: #367e18;
}

.nofollow {
  background-color: #b52626;
}

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  height: 30px;
  justify-self: center;
  width: 150px;

  &:disabled {
    background-color: rgb(138, 138, 138);
  }
}
