$background1: #1b263b;
$background2: #0d1b2a;

.container {
  align-items: center;
  display: grid;
  font-family: "Roboto Condensed", sans-serif;
  grid-template-rows: 100px 50px 1fr;
  height: 400px;
  justify-content: center;
  width: 300px;

  @media (min-width: 728px) {
    background-color: $background2;
    box-shadow: 0px 10px 21px 11px rgba(0, 0, 0, 0.1);
    height: 550px;
    width: 450px;
  }
}

.register_text {
  align-self: flex-end;

  p {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    margin: 0 0 1rem;
    text-align: center;
    width: 100%;
  }

  @media (min-width: 728px) {
    p {
      font-size: 2.5rem;
    }
  }
}

.err {
  color: #ff0b03;
  font-size: 1.2rem;
  margin: 0 0 1rem;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  width: 100%;

  button {
    background-color: #fff;
    color: $background1;
    cursor: pointer;
    border: none;
    height: 35px;
    margin-top: 2rem;
    width: 150px;

    &:hover {
      background-color: #bb1f31;
    }
  }
}

.form_input {
  align-self: center;
  border-bottom: 1px solid $background1;
  box-sizing: border-box;
  position: relative;
  width: 280px;

  input {
    border: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.7);
    height: 22px;
    padding-left: 2.2rem;
    width: 100%;

    &::placeholder {
      font-family: "Montserrat", sans-serif;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #fff inset;
    }
  }

  svg {
    align-self: center;
    bottom: 4px;
    color: $background2;
    font-size: 0.85rem;
    position: absolute;
    left: 11px;
  }
}

.input_first {
  margin-bottom: 0.3rem;
}

.register {
  color: #fff;
  margin: 0;

  span {
    color: #e3273d;
    cursor: pointer;

    &:hover {
      color: #b11a2c;
    }
  }
}
