.container {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 40px;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0.2rem 0.5rem;
  overflow: hidden;
}

.icon {
  align-items: center;
  background-color: #0d1b2a;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  left: -1px;
  position: relative;

  svg {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
  }

  &:hover {
    background-color: #232323;
  }
}

.bar {
  width: 100%;

  input {
    background-color: #0d1b2a;
    border: none;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.75);
    height: 40px;
    padding: 0 0.6rem;
    width: 100%;

    &::placeholder {
      color: rgba(255, 255, 255, 0.75);
    }

    &:focus {
      outline: none;
    }
  }
}
