.container {
  align-items: center;
  background-color: #fff;
  background-image: url("../../images/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 200%;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}
