.container {
  align-items: center;
  display: flex;
  justify-content: center;
  
  p {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.7rem;
    margin: 0;
  }
}
