.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Jura", sans-serif;
  gap: 0.5rem;
  height: 140px;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;

  .user_image {
    align-self: flex-start;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
  }

  .header_image {
    height: 100%;
    left: 0;
    opacity: 0.25;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1 {
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
    margin: 0;
    text-align: center;
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000,
      -2px -2px #000, 2px -2px #000, -2px 2px #000;
    z-index: 1000;
  }

  svg {
    align-self: flex-start;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}

.info_user {
  align-items: center;
  display: flex;
  gap: 0.3rem;

  p {
    color: #fff;
    font-size: 1.2rem;
    margin: 0;
  }
}
