.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", sans-serif;
  height: 100%;
  gap: 0.3rem;
  margin: 0.5rem 0 4rem;
}

.chapter {
  align-items: center;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  border-radius: 15px;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  height: 45px;
  margin: 0 0.5rem;
  padding: 0 0.8rem;
  overflow: hidden;
  position: relative;

  img {
    left: 0;
    opacity: 0.25;
    position: absolute;
    top: 0;
    width: 100%;
  }

  p {
    color: #fff;
    margin: 0;
  }
}

.chapter_info {
  display: flex;
  flex-direction: column;
}

.today,
.yesterday {
  color: rgba(255, 255, 255, 0.8);
  margin: 0.4rem 0.5rem;
}

.check {
  color: rgba(255, 255, 255, 0.8);
  margin: 0.5rem 1rem 0.2rem;
}
